.card-title {
  position: relative;
  top: -30px;
  padding-left: 80px;
  text-transform: uppercase;
  font-family: 'Montserrat';
  letter-spacing: 1px;
}

.card-image {
  padding-left: 25px;
  padding-top: 25px;
}
