.titre {
  font-weight: bold;
  text-align: center;
}

.texte-box {
  text-align: center;
}

.img-fluid {
  border-radius: 10px;
  box-shadow: 1px 1px 12px #555555;
}

.box {
  padding-top: 35px;
}

.texte2-box {
  padding-left: 30px;
}

.titre-avantage {
  font-weight: bold;
}

.border-line{
  margin-top: 50px;
}

.team-section {
  text-align: center;
}

.texte-attribut{
  text-transform: uppercase;
  color: #3F729B;
}

.texte-prenom{
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bold;
}


.fa-pie-chart {
  font-size: 35px;
  color: #3F729B;
}

.fa-smile-o {
  font-size: 35px;
  color: #3F729B;
}

.fa-money {
  font-size: 35px;
  color: #3F729B;
}

.fa-paper-plane-o{
  margin-right: 10px;
}

.photo{
  border-radius: 50%;
  box-shadow: 1px 1px 12px #555555;
}

.information {
  margin-top: 20px;
  margin-bottom: 60px;
}

agm-map{
  height: 400px;
  box-shadow: 1px 1px 12px #555555;
}
