<div class="container-fluid">
  <!-- Section: Features v.3 -->
  <section class="section-propos">

    <!-- Section heading -->
    <h2 class="titre my-5">PrevHold, Qu'est-ce que c'est ?</h2>
    <!-- Section description -->
    <p class="texte-box lead grey-text mx-auto mb-5">Une application de prévention de risques et de suivi médical.</p>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-5">
        <img class="img-fluid animated fadeInLeft" src="assets/personne.png">
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="box col-lg-7">

        <!-- Grid row -->
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-1">
            <i class="fa fa-pie-chart fa-lg"></i>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="texte2-box col-xl-10 col-md-11 col-10">
            <h5 class="titre-avantage mb-3">Suivi</h5>
            <p class="grey-text">PrevHold permet de visualiser des statistiques sur les séniors.
              <br>Ces statistiques sont dues à des données relevées par l'action de l'individu.
            </p>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-1">
            <i class="fa fa-smile-o fa-lg"></i>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="texte2-box col-xl-10 col-md-11 col-10">
            <h5 class="titre-avantage mb-3">{{result.toto}} Sûreté</h5>
            <p class="grey-text">PrevHold apporte des réponses en assitant les occupants en perte d'autonomie avec des soins nécessaires
              et en les prévenant des risques avec nos aides technologiques et le passage des aides-soignantes à leur domicile.</p>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!--Grid row-->
        <div class="row">

          <!-- Grid column -->
          <div class="col-1">
            <i class="fa fa-money fa-lg"></i>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="texte2-box col-xl-10 col-md-11 col-10">
            <h5 class="titre-avantage mb-3">Economie</h5>
            <p class="grey-text mb-0">Nous vous proposons un abonnement à 29,90€ afin de bénéficier de notre assistance,
              de maintenir vos aînés à leur domicile et ne pas payer les services des maisons de retraite.
            </p>
          </div>
          <!-- Grid column -->

        </div>
        <!--Grid row-->

      </div>
      <!--Grid column-->

    </div>
    <!-- Grid row -->

  </section>
  <!-- Section: Features v.3 -->

  <hr class="border-line"/>

  <!-- Section: Team v.1 -->
  <section class="team-section">

    <!-- Section heading -->
    <h2 class="titre my-5">Notre équipe</h2>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-4 mb-lg-0 mb-5">
        <div class="avatar">
          <img src="assets/clement.png" class="photo animated zoomIn">
        </div>
        <h5 class="texte-prenom">Clément DEHON</h5>
        <p class="texte-attribut"><strong>Chef de Projet</strong></p>
        <p class="grey-text">Etudiant à ITESCIA de Cergy
          <br>Spécialité Management des SI et Digitalisation</p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 mb-lg-0 mb-5">
        <div class="avatar">
          <img src="assets/nicolas.png" class="photo animated zoomIn">
        </div>
        <h5 class="texte-prenom">Nicolas POUSSARD</h5>
        <p class="texte-attribut"><strong>Développeur Web</strong></p>
        <p class="grey-text">Etudiant à ITESCIA de Cergy
          <br>Spécialité Réseaux et Systèmes</p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 mb-md-0 mb-5">
        <div class="avatar">
          <img src="assets/victor.png" class="photo animated zoomIn">
        </div>
        <h5 class="texte-prenom">Victor MORIN</h5>
        <p class="texte-attribut"><strong>Développeur Arduino</strong></p>
        <p class="grey-text">Etudiant à ITESCIA de Cergy
          <br>Spécialité Management des SI et Digitalisation</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <!-- Section: Team v.1 -->

  <hr class="border-line"/>

</div>

<div class="container">
  <!-- Section: Team v.1 -->
  <section class="contact-section">

    <h2 class="font-weight-bold my-5 text-center">Contact</h2>

    <div class="row">
      <div class="col-lg-5 mb-lg-0 mb-4">
        <form class="p-5" (ngSubmit)="submitAdd(submitForm.value)" #submitForm="ngForm">

          <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input class="form-control" type="text" id="nom" name="nom" placeholder="Votre nom" ngModel>
          </div>
            <div [hidden]="nom.valid" class="alert alert-danger">
            <div [hidden]="!nom.hasError('required')">Le nom est nécessaire</div>
          </div>

          <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="email" id="email" name="email" class="form-control" placeholder="Votre email" pattern="emailPattern" ngModel>
          </div>

          <div class="md-form">
            <i class="fa fa-pencil prefix grey-text"></i>
            <textarea type="text" id="message" name="message" class="md-textarea" placeholder="Votre message" maxlength="250" ngModel></textarea>
          </div>

          <div class="text-center">
            <input type="submit" value="Envoyer" class="btn btn-unique">
          </div>

        </form>
      </div>

      <div class="col-lg-7 col-md-12">
        <!-- Google map-->

        <agm-map [latitude]="latitude" [longitude]="longitude">
          <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>

        <div class="row text-center">

          <div class="information col-md-6">
            <i class="fa fa-map-marker"></i>
            <br>10 avenue de l'Entreprise
            <br>Parc Saint-Christophe
            <br>Pôle Galilée 1
            <br>95800 Cergy
            <p class="mb-md-0">France</p>
          </div>

          <div class="information col-md-6">
            <i class="fa fa-envelope"></i>
            <br>clement.dehon@edu.itescia.fr
            <br>nicolas.poussard@edu.itescia.fr
            <br>victor.morin@edu.itescia.fr
          </div>

        </div>

      </div>

    </div>

  </section>
  <!-- Section: Team v.1 -->

</div>
