.img-fluid{
  border-radius: 10px;
  box-shadow: 1px 1px 12px #555555;
}

.box {
  padding-top: 35px;
}

.border-line{
  margin-top: 50px;
}

.text-box {
  padding-left: 30px;
}

.text-attribut{
  text-transform: uppercase;
  color: #3F729B;
}

.text-prenom{
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bold;
}

.text-contact{
  font-weight: bold;
}

.fa-pie-chart {
  font-size: 35px;
  color: #3F729B;
}

.fa-smile-o {
  font-size: 35px;
  color: #3F729B;
}

.fa-money {
  font-size: 35px;
  color: #3F729B;
}

.fa-paper-plane-o{
  margin-right: 10px;
}

.photo{
  border-radius: 50%;
  box-shadow: 1px 1px 12px #555555;
}
