.img-fluid{
  border-radius: 10px;
  box-shadow: 1px 1px 12px #555555;
}

.box {
  padding-top: 35px;
}

.text-box {
  padding-left: 30px;
}

.fa-pie-chart {
  font-size: 35px;
  color: #3F729B;
}

.fa-smile-o {
  font-size: 35px;
  color: #3F729B;
}

.fa-money {
  font-size: 35px;
  color: #3F729B;
}
