.logo {
  width: 70px;
  float: left;
}

.nom {
  margin-left: 100px;
  position: relative;
  top: 23px;
  font-family: 'Montserrat';
  font-size: 16px;
}

.nav-link {
  position: relative;
  bottom: 12px;
  font-family: 'Montserrat';
  font-size: 16px;
  margin-left: 35px;
}

.fa-bar-chart {
  position: relative;
  top: 20px;
  margin-left: 15px;
  color: #ffffff;
}

.fa-calendar {
  position: relative;
  top: 20px;
  margin-left: 15px;
  color: #ffffff;
}

.fa-file-text {
  position: relative;
  top: 20px;
  margin-left: 15px;
  color: #ffffff;
}

.fa-user-md {
  position: relative;
  top: 20px;
  margin-left: 15px;
  color: #ffffff;
  font-size: 20px;
}

.fa-sign-out{
  position: relative;
  top: -5px;
  color: #ffffff;
  font-size: 30px;
}

.nav-item2 {
  position: relative;
  top: 10px;
  color: #ffffff;
}

.footer-copyright {
  font-family: 'Montserrat';
  font-size: 16px;
}
