.logo {
  width: 70px;
  float: left;
}

.nom {
  margin-left: 100px;
  position: relative;
  top: 23px;
  font-family: 'Montserrat';
  font-size: 16px;
}

.nav-link {
  position: relative;
  bottom: 10px;
  font-family: 'Montserrat';
  font-size: 16px;
  margin-left: 35px;
}

.fa-bar-chart {
  position: relative;
  top: 20px;
  margin-left: 15px;
  color: #ffffff;
}

.fa-calendar {
  position: relative;
  top: 20px;
  margin-left: 15px;
  color: #ffffff;
}

.fa-file-text {
  position: relative;
  top: 20px;
  margin-left: 15px;
  color: #ffffff;
}

.fa-user-md {
  position: relative;
  top: 20px;
  margin-left: 15px;
  color: #ffffff;
  font-size: 20px;
}

.nav-item2 {
  position: relative;
  top: 10px;
  color: #ffffff;
}

.footer-copyright {
  font-family: 'Montserrat';
  font-size: 16px;
}

.card-title {
  position: relative;
  top: -30px;
  padding-left: 80px;
  text-transform: uppercase;
  font-family: 'Montserrat';
  letter-spacing: 1px;
}

.card-image {
  padding-left: 25px;
  padding-top: 25px;
}

.border-bottom{
    border-bottom: 1px solid #E5E5E5;
}
