<header>
  <!-- Barre de Navigation -->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">
      <logo>
        <a routerLink="accueil" class="navbar-brand">
          <img src="assets/logo_Projet_4.png" class="logo">
          <div class="nom mr-auto">
            PrevHold
          </div>
        </a>
      </logo>
      <links>
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <i class="fa fa-bar-chart" aria-hidden="true"></i><a routerLink="dashboard" class="nav-link waves-light" mdbWavesEffect>DashBoard</a>
              </li>
              <li class="nav-item">
                <i class="fa fa-calendar" aria-hidden="true"></i><a routerLink="planning_as" class="nav-link waves-light" mdbWavesEffect>Planning de l'aide soignante</a>
              </li>
              <li class="nav-item">
                <i class="fa fa-file-text" aria-hidden="true"></i><a routerLink="fiche_suivi" class="nav-link waves-light" mdbWavesEffect>Fiche de Suivi</a>
              </li>
              <li class="nav-item">
                <i class="fa fa-user-md" aria-hidden="true"></i><a routerLink="profil_med" class="nav-link waves-light" mdbWavesEffect>Profil Médical</a>
              </li>
              <li class="nav-item">
                <i class="fa fa-envelope" aria-hidden="true"></i><a routerLink="contact" class="nav-link waves-light" mdbWavesEffect>Contact</a>
              </li>
          </ul>
          <ul class="navbar-nav nav-flex-icons">
              <li class="nav-item2">
                  <a class="nav-link waves-light" mdbWavesEffect><i class="fa fa-facebook"></i></a>
              </li>
              <li class="nav-item2">
                  <a class="nav-link waves-light" mdbWavesEffect><i class="fa fa-twitter"></i></a>
              </li>
              <li class="nav-item2">
                  <a class="nav-link waves-light" mdbWavesEffect><i class="fa fa-instagram"></i></a>
              </li>
          </ul>
      </links>
  </mdb-navbar>
  <!-- Fin de la barre de Navigation -->

</header>

<main>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>


</main>

<!-- Bas de page -->
<footer class="page-footer unique-color center-on-small-only mt-4">
  <!-- Copyright -->
  <div class="footer-copyright unique-color center-on-small-only text-center py-3">© 2018 Copyright :
    <a href=""> PrevHold</a>. All right reserved.
  </div>
  <!-- Copyright -->
</footer>
<!-- Bas de page -->
