<header>
  <!-- Barre de Navigation -->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">
      <logo>
        <a class="navbar-brand" href="http://localhost:4200/">
          <img src="assets/logo_Projet_4.png" class="logo">
          <div class="nom mr-auto">
            PrevHold
          </div>
        </a>
      </logo>
      <links>
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <i class="fa fa-bar-chart" aria-hidden="true"></i><a class="nav-link waves-light" href="http://localhost:4200/" mdbWavesEffect>DashBoard<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <i class="fa fa-calendar" aria-hidden="true"></i><a class="nav-link waves-light" mdbWavesEffect>Planning de l'aide soignante</a>
              </li>
              <li class="nav-item">
                <i class="fa fa-file-text" aria-hidden="true"></i><a class="nav-link waves-light" mdbWavesEffect>Fiche de Suivi</a>
              </li>
              <li class="nav-item">
                <i class="fa fa-user-md" aria-hidden="true"></i><a class="nav-link waves-light" mdbWavesEffect>Profil Médical</a>
              </li>
          </ul>
          <ul class="navbar-nav nav-flex-icons">
              <li class="nav-item2">
                  <a class="nav-link waves-light" mdbWavesEffect><i class="fa fa-facebook"></i></a>
              </li>
              <li class="nav-item2">
                  <a class="nav-link waves-light" mdbWavesEffect><i class="fa fa-twitter"></i></a>
              </li>
              <li class="nav-item2">
                  <a class="nav-link waves-light" mdbWavesEffect><i class="fa fa-instagram"></i></a>
              </li>
          </ul>
      </links>
  </mdb-navbar>
  <!-- Fin de la barre de Navigation -->
</header>

<main>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-4">
        <!-- Card -->
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          </div>

        </div>
        <!-- Card -->
      </div>
      <div class="col-md-6 mt-4">
        <!-- Card -->
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          </div>

        </div>
        <!-- Card -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mt-4">
        <!-- Card -->
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          </div>

        </div>
        <!-- Card -->
      </div>
      <div class="col-md-6 mt-4">
        <!-- Card -->
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          </div>

        </div>
        <!-- Card -->
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6 mt-4">
        <!-- Card -->
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          </div>

        </div>
        <!-- Card -->
      </div>
      <div class="col-md-6 mt-4">
        <!-- Card -->
        <div class="card">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          </div>

        </div>
        <!-- Card -->
      </div>
    </div>
  </div>
</main>

<!-- Bas de page -->
<footer class="page-footer unique-color center-on-small-only mt-4">
  <!-- Copyright -->
  <div class="footer-copyright unique-color center-on-small-only text-center py-3">© 2018 Copyright:
    <a href=""> PrevHold</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Bas de page -->
