<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 mt-4">
      <div class="card">
        <div class="card-body mx-4">
          <!--Header-->
          <div class="text-center">
              <h3 class="dark-grey-text mb-5"><strong>Fiche de suivi</strong></h3>
          </div>

            <div class="md-form">
                <label for="email">Mars 2018</label>
            </div>
            <button class="button_mai" type="button" (click)="downloadPDF_1()">Fiche_Suivi_Mars</button>
            <button class="button_mai_1" type="button" (click)="downloadPDF_2()">Fiche_Suivi_Mars_2</button>

            <div class="md-form">
                <label for="email">Avril 2018</label>
            </div>
            <button class="button_mai" type="button" (click)="downloadPDF_3()">Fiche_Suivi_Avril</button>
            <button class="button_mai_1" type="button" (click)="downloadPDF_4()">Fiche_Suivi_Avril_2</button>

            <div class="md-form">
                <label for="email">Mai 2018</label>
            </div>
            <button class="button_mai" type="button" (click)="downloadPDF_5()">Fiche_Suivi_Mai</button>
            <button class="button_mai_1" type="button" (click)="downloadPDF_6()">Fiche_Suivi_Mai_2</button>

            <div class="md-form">
                <label for="email">Juin 2018</label>
            </div>
            <button class="button_mai" type="button" (click)="downloadPDF_7()">Fiche_Suivi_Juin</button>
            <button class="button_mai_1" type="button" (click)="downloadPDF_8()">Fiche_Suivi_Juin_2</button>

            <div class="md-form">
                <label for="email">Juillet 2018</label>
            </div>
            <button class="button_mai" type="button" (click)="downloadPDF_9()">Fiche_Suivi_Juillet</button>
            <button class="button_mai_1" type="button" (click)="downloadPDF_10()">Fiche_Suivi_Juillet_2</button>
        </div>

      </div>
    </div>
  </div>
</div>
