  <div class="container-fluid">
    <div class="row">

      <div class="col-md-6 mt-4">
        <div class="card">

          <div class="card-image">
            <img src="assets/entrance.png"/>
          </div>
          <div class="card-title">Sortie de la Maison</div>

          <canvas id="barChart"></canvas>
        </div>
      </div>

      <div class="col-md-6 mt-4">
        <div class="card" >

          <div class="card-image">
            <img src="assets/shower.png"/>
          </div>
          <div class="card-title">Fréquence de prise de douches</div>

          <canvas id="lineChart"></canvas>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6 mt-4">

        <div class="card">

          <div class="card-image">
            <img src="assets/smoke-detector.png"/>
          </div>
          <div class="card-title">Détection de fumée/gaz</div>

          <canvas id="doughnutChart"></canvas>
        </div>
      </div>

      <div class="col-md-6 mt-4">
        <div class="card">

          <div class="card-image">
            <img src="assets/person-falling.png"/>
          </div>
          <div class="card-title">Détection de chute</div>

          <canvas id="doughnutChart_1"></canvas>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mt-4">

        <div class="card">

          <div class="card-image">
            <img src="assets/smart-tv.png"/>
          </div>
          <div class="card-title">Loisirs : utilisation de la Télévision</div>

          <canvas id="lineChart1"></canvas>
        </div>
      </div>

      <div class="col-md-6 mt-4">
        <div class="card" style="margin-bottom:75px;">

          <div class="card-image">
            <img src="assets/shutter.png"/>
          </div>
          <div class="card-title">Ouverture des volets</div>

          <canvas id="lineChart_1"></canvas>
        </div>
      </div>
    </div>
  </div>
