  <div class="container-fluid">
    <div class="row">

      <div class="col-md-6 mt-4">
        <!-- Card -->
        <div class="card">
          <!-- Card content -->

          <div class="card-image">
            <img src="assets/entrance.png"/>
          </div>
          <div class="card-title">Porte d'entrée de la maison</div>

          <!-- Fin Card content -->
          <canvas id="barChart">{{BarChart}}</canvas>
        </div>
      </div>

      <div class="col-md-6 mt-4">
        <!-- Card -->
        <div class="card" >
          <!-- Card content -->

          <div class="card-image">
            <img src="assets/shower.png"/>
          </div>
          <div class="card-title">Fréquence de prises de douches</div>

          <!-- Fin Card content -->
          <canvas id="lineChart">{{LineChart}}</canvas>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6 mt-4">
        <!-- Card -->
        <div class="card">
          <!-- Card content -->

          <div class="card-image">
            <img src="assets/smoke-detector.png"/>
          </div>
          <div class="card-title">Détection de fumée/gaz</div>

          <!-- Fin Card content -->
          <canvas></canvas>
        </div>
      </div>

      <div class="col-md-6 mt-4">
        <!-- Card -->
        <div class="card">
          <!-- Card content -->

          <div class="card-image">
            <img src="assets/person-falling.png"/>
          </div>
          <div class="card-title">Détection du chute</div>
          <!-- Fin Card content -->
          <canvas></canvas>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mt-4">
        <!-- Card -->
        <div class="card">
          <!-- Card content -->

          <div class="card-image">
            <img src="assets/smart-tv.png"/>
          </div>
          <div class="card-title">Loisir : utilisation de la Télévision</div>

          <!-- Fin Card content -->
          <canvas id="lineChart1">{{LineChart1}}</canvas>
        </div>
      </div>

      <div class="col-md-6 mt-4">
        <!-- Card -->
        <div class="card">
          <!-- Card content -->

          <div class="card-image">
            <img src="assets/shutter.png"/>
          </div>
          <div class="card-title">Ouverture des volets</div>

          <!-- Fin Card content -->
          <canvas></canvas>
        </div>
      </div>
    </div>
  </div>
